:root {
  --color-light:   #EDF1D6;
  --color-mid:     #9DC08B;
  --color-primary: #609966;
  --color-dark:    #40513B;

  --color-pathogenic-bg:   #fde8e8;
  --color-pathogenic-text: #9b1c1c;

  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
